$default_font: "Lora", serif
$heading_font: "Anaheim", sans-serif

$white: #ffffff
$black: #000000
$yellow: #FFFF01
$blue: #00BCD4
$dark_blue: #5F00D4
$orange: #D47F00
$silver: #E0E0E0

$text_color: #333333
$bg_img_color: #314E55

$transition: all 0.2s linear
$transform: translate(-50%, -50%)
